@import "../../../styles/index.scss";
.innerSideMenu {
  background-color: rgba(32, 27, 32, 1);
  padding: 29px 1px;
  display: grid;
  grid-template-rows: auto 1fr;
  max-height: 100vh;
  width: 300px;
  position: relative;
  left: 116.5px;
  transition: all 300ms ease-in-out;
  &.collapsed {
    transform: translate(-500px);
    margin: 0 auto;
    padding: 0;
  }
  &.shrink {
    padding: 5px 0;

    .group446 {
      min-width: 150px;
      margin: 0 auto;
      padding: 0;

      & > :nth-last-child(-n + 3) {
        margin: 0 auto;
        padding: 0;
      }
    }
    .frame2 {
      margin: 10px auto;
      text-align: center;
    }
  }
}
.group446 {
  width: 100%;
  min-width: 300px;
  padding: 0 0.5rem;
  @extend .flex-column;
  align-items: flex-start;
  align-self: center;
  z-index: 10;
}
.frame2 {
  width: 100%;
  height: calc(13.76% - 20px);
  margin: 0 auto 31px auto;
  padding: 10px;
  @extend .flex-start;
}
.pageTitle {
  color: rgba(249, 243, 250, 1);
  @extend .headline-2;
}
.menuItem {
  @extend .flex-align;
  background-color: $omnihouse-plus-action;
  height: 19.38%;
  align-self: center;
  width: 100%;
  border-radius: 10px;
  justify-content: space-evenly;
  padding: 10px;
  position: relative;
  color: #fff;
  font-weight: bolder;

  span {
    text-align: center;
  }
}

.ellipse68 {
  min-width: 10px;
  height: 10px;
  background-color: rgba(196, 196, 196, 1);
  border-radius: 50%;
}
