@import "../../../styles/index.scss";

.sideMenu {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  background-color: rgba(22, 21, 22, 1);
  padding: 0 0 16px;
  align-items: center;
  max-width: 150px;
  max-height: 100vh;
  width: fit-content;
  padding: 1em;
  height: 100vh;
  position: fixed;
  z-index: 11;
  transition: all 300ms ease-in-out;

  &.collapsed {
    transform: translate(-95px);
  }
}
.icon {
  height: fit-content;
}
.btnContainer {
  margin: 2rem 0 0;
  align-self: flex-start;
  display: grid;
  gap: 1rem;
  grid-template-rows: auto auto auto auto;
}
.bottomBox {
  display: flex;
  position: relative;
}
.collapseBtn {
  width: 35px;
  height: 30px;
  left: 75px;
  top: 21px;
  position: absolute;
  padding: 7px;
  display: flex;
  justify-items: end;
  background: transparent;
  border: none;
  cursor: pointer;
  transform: scale(1.2);
  transition: all 300ms ease-in-out;

  &:hover {
    transform: scale(1.4);
  }
}
.selected::before {
  content: "";
  height: 50px;
  width: 10px;
  background: #fff;
  position: fixed;
  left: -2px;
  top: 238px;
  border-radius: 1rem;
}
.vectorTwo {
  width: 83.33%;
  height: 75%;
  position: absolute;
  left: 4.83px;
  top: 7.25px;
}
