@import "../../../styles/index.scss";

.top {
  width: 100%;

  & div {
    padding-right: 5px;
  }
}
.container {
  @extend .scroll-bar;
  &::-webkit-scrollbar {
    width: 4px;
  }
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  margin-bottom: -20px;
  padding: 0 0 100px;
  width: 100%;

  @media only screen and (max-width: 345px) and (max-height: 800px) {
    max-height: 36vh;
  }
}

.divider {
  margin: 0 0 10px;
  width: 100%;
  height: 5px;
  background: #fff;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 20px;
}
.tableOfContents {
  @extend .headline-2;
  color: #eb00ff;
  align-self: stretch;
  margin-bottom: 11px;
}
.sectionTOC {
  @extend .headline-2;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  color: #fff;
  margin-bottom: 9px;
  text-shadow: 0 4px 4px #eb00ff;
}

.text {
  margin: 0 0 5px;
  @extend .subtitle-2;
  color: #fff;
}
