@import "./index.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}

.app {
  max-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: auto 1fr;
  overflow: hidden;
  height: 100vh;
}

.menuContainer {
  display: flex;
  z-index: 10;
  width: 416.5px;
  max-width: 100vw;
  transition: all 300ms ease-in-out;

  &.collapsed {
    width: 20px;
  }
}
