// Colors
$active-amber: #d78f24;
$black: #211f21;
$omnicheck: #8f39b7;
$omnihouse-plus-action: #93227f;

// Typographies
@mixin extra-bold {
  text-shadow: 0px 1px, 1px 0px, 0px -1px, -1px 0px currentColor;
  letter-spacing: 2px;
}
@mixin body-1 {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
@mixin button-1 {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
@mixin headline-2 {
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
}
@mixin subtitle-2 {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
@mixin scrollBar {
  &.scrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: -10px;
    @media only screen and (max-width: 345px) {
      margin-right: 0;
    }
  }
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 10px;
    background-color: #555;
    margin: 0px 0 10px;
  }
}

button {
  border-radius: 0;
}
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  overflow: visible;
}
button {
  text-transform: none;
}
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.btn:focus,
.btn:hover {
  text-decoration: none;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn:disabled {
  opacity: 0.65;
}

.header {
  margin: 30px 0 10px;
  @include headline-2;
  color: #fff;
}

/* CenterContainer */
.logoutBlack24dp2 {
  padding: 5.25px;
  display: flex;
  align-items: center;
}
.vector {
  flex: 1;
  align-self: stretch;
  object-fit: cover;
}
/* SideMenu */

.marketplaceButton {
  background-color: $omnicheck;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  align-items: flex-start;
}
.marketplaceButtonTwo {
  background-color: rgba(32, 193, 116, 1);
  border-radius: 25px;
  padding: 10px;
  display: flex;
  align-items: flex-start;
}
.marketplaceButtonThree {
  background-color: rgba(101, 98, 98, 1);
  border-radius: 25px;
  padding: 10px;
  display: flex;
  align-items: flex-start;
}
.group {
  padding: 7.25px;
  display: flex;
  align-items: center;
}
.vector2 {
  flex: 1;
  height: 50px;
  width: 50px;
}
.bottomText {
  width: 100%;
  height: 15.97%;
  color: rgba(249, 243, 250, 1);
  text-align: center;
  @include button-1;
  font-size: 1em;
  max-width: 80px;
}
.btnImg {
  width: 100%;
  align-self: stretch;
  -o-object-fit: cover;
  object-fit: cover;
  filter: blur(1.5px);
  transition: all 300ms ease-in-out;
}
.flip {
  transform: rotate(180deg);
}
