@import "../../../styles/index.scss";
.primary {
  background: #3c363b;
  color: #fff;
}
.btnStatus,
.btnStatus:disabled {
  border-color: #3c363b;
}
.btnStatus {
  @include body-1;
  @extend .primary;
  @include extra-bold;
  display: block;
  width: 90%;
  padding: 1rem 0.75rem;
  margin: 20px auto 0;
  font-size: 1rem;
  letter-spacing: 1px;

  &:hover {
    @extend .primary;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem currentColor;
  }
  &:disabled {
    @extend .primary;
  }
  &.btnSelected {
    background-color: $omnihouse-plus-action;
  }
}
