@import "../../../styles/index.scss";

.trackerPc {
  width: 90%;
  height: calc(5.73% - 20px);
  margin: 0 auto 7px;
  padding: 10px;
  @extend .flex-column;
  align-items: flex-start;
}
.frame224 {
  background-color: rgba(78, 68, 76, 1);
  border-radius: 6px;
  @extend .flex-column;
  align-items: flex-start;
  width: 100%;
}
.rectangle254 {
  width: 20%;
  height: 8px;
  background-color: $omnihouse-plus-action;
  border-radius: 6px;
}
.frame480 {
  display: flex;
  place-content: center;
  position: relative;
  height: 100px;
  overflow: hidden;
  margin: 0 -10px 5px 0;
}
.p {
  color: rgba(249, 243, 250, 1);
  @extend .body-1;
  @extend .extra-bold;
  letter-spacing: 0.5px;
  font-size: clamp(1.1rem, 3.5vw, 1.3rem);
}
.form {
  width: 100%;
  @extend .flex-column;
  align-content: center;
}
input:focus {
  border-radius: 10px;
  outline: none;
  box-shadow: 0 0 7.5px #fff inset;
}
.btnContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.nextButton {
  @extend .flex-start;
}
.nextButtonTwo {
  justify-self: flex-end;
  padding: 5px;
  @extend .flex-column;
  align-items: flex-start;
  background: transparent !important;
  border: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 10px $omnihouse-plus-action;
  }
  &:active {
    box-shadow: 0 0 5px $omnihouse-plus-action inset;
  }
  border-radius: 1em;
}
.frame12 {
  padding: 17px 10px 10px 15px;
  @extend .flex-start;
}
.next {
  height: 12px;
  width: 42px;
  color: rgba(249, 243, 250, 1);
  @extend .flex-align;
  text-align: center;
  @extend .button-1;
}
.frame13 {
  padding: 10px 5px 10px 0;
  @extend .flex-start;
}
.nextTwo {
  @extend .flex-align;
  width: 10.74px;
  height: 18.76px;
}
.vector {
  width: 100%;
  align-self: stretch;
  -o-object-fit: cover;
  object-fit: cover;
}
