@import "../../../styles/index.scss";
/*
 Next step of form
*/
.header {
  margin: 30px 0 10px;
  @include headline-2;
  @include extra-bold;
}
.sectionContainer {
  display: flex;
  flex-direction: column;
  max-height: 700px;
  margin-bottom: -20px;

  @include scrollBar;
  &.step2 {
    padding-bottom: 600px;
  }
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  .editBtn {
    padding: 0 5px 0 10px;
    background: transparent;
    border: none;
    cursor: pointer;

    .vector {
      width: 100%;
      transition: all 00ms ease-in-out;
    }
    &:hover {
      .vector {
        transition: all 300ms ease-in-out;
        filter: drop-shadow(2px 4px 6px $omnihouse-plus-action);
        transform: scale(1.2);
      }
    }
    border-radius: 1em;
  }
}
.section {
  height: 350px;
  background-color: rgba(52, 51, 28, 0.91);
  border-radius: 10px;
  padding: 13px 0 22px;
  display: flex;
  align-items: flex-start;
  margin: 0 0 20px;

  .section1 {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 15px;
    text-align: center;
    @include body-1;
    color: rgba(5, 255, 0, 1);
  }
  .section2 {
    padding-left: 15px;
    text-align: initial;
    .Emphasis1 {
      margin-bottom: -15px;
    }
  }
  &.step2 {
    height: auto;
    background: transparent;

    .section1 {
      @include button-1;
      text-align: initial;
      color: #fff;
      * {
        @include button-1;
        color: #fff;
      }
      .Emphasis0 {
        @include extra-bold;
      }
    }
    .section2 {
      padding-left: 0;
    }
  }
}
.Emphasis0 {
  @include body-1;
  color: rgba(235, 2, 255, 1);
  @include extra-bold;
  letter-spacing: 1px;
}
.Emphasis1 {
  @include subtitle-2;
  color: rgba(249, 243, 250, 1);
}
.Emphasis2:not(.step2 *) {
  @include body-1;
  @include extra-bold;
  letter-spacing: 1px;
  color: rgba(249, 243, 250, 1);
}
